<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<p class="title is-1">Tests de Sistemas Electrónicos</p>
		</div>
	</div>

    <div class="columns">

        <div class="column is-half">
          <div class="box">

            <p class="title is-2">\(1^{\rm{er}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/ARQU" class="is-size-3">ARQU (Arquitectura de Peocesadores)</a>
            </li>

            <li>
              <a href="/tests/DSED" class="is-size-3">DSED (Diseño de Sistemas Electrónicos Digitales)</a>
            </li>

            <li>
              <a href="/tests/FEEL" class="is-size-3">FEEL (Redes Coroporativas)</a>
            </li>

	        <li>
              <a href="/tests/IELE" class="is-size-3">IELE (Instrumentación Electrónica)</a>
            </li>	        

	          <li>
              <a href="/tests/SEAM" class="is-size-3">SEAM (Sistemas Electrónicos Analógicos y Mixtos)</a>
            </li>

            </ul>

          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <p class="title is-2">\(2^{\rm{o}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/ELCO" class="is-size-3">ELCO (Electrónica de Consumo)</a>
            </li>

            <li>
              <a href="/tests/ISEL" class="is-size-3">ISEL (Ingeniería de Sistemas Electrónicos)</a>
            </li>

            <li>
              <a href="/tests/SECO" class="is-size-3">SECO (Sistemas para Conectividad)</a>
            </li>

            <li>
              <a href="/tests/SCON" class="is-size-3">SCON (Redes y Servicios Radio)</a>
            </li>

            </ul>
          </div>
        </div>

    </div>
</div>
