<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<p class="title is-1">Tests de Segundo</p>
		</div>
	</div>

    <div class="columns">

        <div class="column">
          <div class="box">

            <p class="title is-2">\(1^{\rm{er}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/EDIG" class="is-size-3">EDIG (Electrónica Digital)</a>
            </li>

	          <li>
              <a href="/tests/EINB" class="is-size-3">EINB (Electrónica e Instrumentación Básicas)</a>
            </li>

	          <li>
              <a href="/tests/ELMG" class="is-size-3">ELMG (Electromagnetismo)</a>
            </li>

            <li>
              <a href="/tests/IGL1" class="is-size-3">IGL1 (Inglés 1)</a>
            </li>

	          <li>
              <a href="/tests/SALT" class="is-size-3">SALT (Señales Aleatorias)</a>
            </li>

	          <li>
              <a href="/tests/SSIT" class="is-size-3">SSIT (Señales y Sistemas)</a>
            </li>

            </ul>

          </div>
        </div>
        <div class="column">
          <div class="box">
            <p class="title is-2">\(2^{\rm{o}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/ADCT" class="is-size-3">ADCT (Análisis y Diseño de Circuitos)</a>
            </li>

            <li>
              <a href="/tests/ADSW" class="is-size-3">ADSW (Análisis y Diseño de Software)</a>
            </li>

            <li>
              <a href="/tests/COTE" class="is-size-3">COTE (Campos y Ondas en Telecomunicación)</a>
            </li>

	          <li>
              <a href="/tests/ELAN" class="is-size-3">ELAN (Electrónica Analógica)</a>
            </li>

	          <li>
              <a href="/tests/IGL2" class="is-size-3">IGL2 (Inglés 2)</a>
            </li>

	          <li>
              <a href="/tests/RSTC" class="is-size-3">RSTC (Redes y Servicios de Telecomunicación)</a>
            </li>

            <li>
              <a href="/tests/TECM" class="is-size-3">TECM (Teoría de la Comunicación)</a>
            </li>

            </ul>
          </div>
        </div>

    </div>
</div>
