<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<p class="title is-1">Tests de Sistemas de Telecomunicación</p>
		</div>
	</div>

    <div class="columns">

        <div class="column is-half">
          <div class="box">

            <p class="title is-2">Primer Cuatrimestre</p>

            <ul>

            <li>
              <a href="/tests/ANTE" class="is-size-3">ANTE (Antenas)</a>
            </li>

            <li>
              <a href="/tests/MICR" class="is-size-3">MICR (Microondas)</a>
            </li>

            <li>
              <a href="/tests/RCOM" class="is-size-3">RCOM (Radiocomunicaciones)</a>
            </li>

	        <li>
              <a href="/tests/STEL" class="is-size-3">STEL (Sistemas de Telecomunicación)</a>
            </li>	        

	          <li>
              <a href="/tests/TRDG" class="is-size-3">TRDG (Transmisión Digital)</a>
            </li>

            </ul>

          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <p class="title is-2">Segundo Cuatrimestre</p>

            <ul>

            <li>
              <a href="/tests/CMOV" class="is-size-3">CMOV (Comunicaciones Móviles)</a>
            </li>

            <li>
              <a href="/tests/RDET" class="is-size-3">RDET (Sistemas de Radiodeterminación)</a>
            </li>

            <li>
              <a href="/tests/SURF" class="is-size-3">SURF (Subsitemas de Radiofrecuencia)</a>
            </li>

            </ul>
          </div>
        </div>

    </div>
</div>
