<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<p class="title is-1">Tests de Sistemas Audiovisuales</p>
		</div>
	</div>

    <div class="columns">

        <div class="column is-half">
          <div class="box">

            <p class="title is-2">\(1^{\rm{er}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/EQSA" class="is-size-3">EQSA (Equipos y Sistemas Audiovisuales)</a>
            </li>

            <li>
              <a href="/tests/TDIV" class="is-size-3">TDIV (Tratamiento Digital de Im치genes y Video)</a>
            </li>

            <li>
              <a href="/tests/TDVA" class="is-size-3">TDVA (Tratamiento Digital de Voz y Audio)</a>
            </li>

	        <li>
              <a href="/tests/TV" class="is-size-3">TV (Televisi칩n)</a>
            </li>

            </ul>

          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <p class="title is-2">\(2^{\rm{o}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/CMAV" class="is-size-3">CMAV (Comunicaciones Audiovisuales)</a>
            </li>

            <li>
              <a href="/tests/DSRE" class="is-size-3">DSRE (Difusi칩n y Servicios de Red)</a>
            </li>

            <li>
              <a href="/tests/PROD" class="is-size-3">PROD (Producci칩n Multimedia)</a>
            </li>

            </ul>
          </div>
        </div>

    </div>
</div>
