<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<p class="title is-1">Tests de Sistemas Telemáticos</p>
		</div>
	</div>

    <div class="columns">

        <div class="column is-half">
          <div class="box">

            <p class="title is-2">\(1^{\rm{er}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/CDPS" class="is-size-3">CDPS (Centros de Datos y Provisión de Servicios)</a>
            </li>

            <li>
              <a href="/tests/IWEB" class="is-size-3">IWEB (Ingeniería Web)</a>
            </li>

            <li>
              <a href="/tests/RECO" class="is-size-3">RECO (Redes Coroporativas)</a>
            </li>

	        <li>
              <a href="/tests/RCMO" class="is-size-3">RCMO (Redes de Comunicaciones Móviles)</a>
            </li>	        

	          <li>
              <a href="/tests/SEGU" class="is-size-3">SEGU (Seguridad en Sistemas y Redes de Telecomunicación)</a>
            </li>

            </ul>

          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <p class="title is-2">\(2^{\rm{o}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/DORE" class="is-size-3">DORE (Dimensionado y Operación de Redes)</a>
            </li>

            <li>
              <a href="/tests/ISST" class="is-size-3">ISST (Ingeniería de Sistemas y Servicios Telemáticos)</a>
            </li>

            <li>
              <a href="/tests/RSRD" class="is-size-3">RSRD (Redes y Servicios Radio)</a>
            </li>

            </ul>
          </div>
        </div>

    </div>
</div>
