<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<p class="title is-1">Tests de Tercero</p>
		</div>
	</div>

    <div class="columns">

        <div class="column is-half">
          <div class="box">

            <p class="title is-2">\(1^{\rm{er}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/CELT" class="is-size-3">CELT (Circuitos Electrónicos)</a>
            </li>

	          <li>
              <a href="/tests/RDOR" class="is-size-3">RDOR (Redes de Ordenadores)</a>
            </li>

	          <li>
              <a href="/tests/RDPR" class="is-size-3">RDPR (Radiación y Propagación)</a>
            </li>

            <li>
              <a href="/tests/SDG1" class="is-size-3">SDG1 (Sistemas Digitales 1)</a>
            </li>

	          <li>
              <a href="/tests/STRA" class="is-size-3">STRA (Sistemas de Transmisión)</a>
            </li>

	          <li>
              <a href="/tests/TINF" class="is-size-3">SSIT (Teoría de la Información)</a>
            </li>

            <li>
              <a href="/tests/TDSÑ" class="is-size-3">TDSÑ (Tratamiento Digital de Señales)</a>
            </li>

            </ul>

          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <p class="title is-2">\(2^{\rm{o}}\) Cuatri</p>

            <ul>

            <li>
              <a href="/tests/COPT" class="is-size-3">COPT (Comunicaciones Ópticas)</a>
            </li>

            <li>
              <a href="/tests/CORE" class="is-size-3">CORE (Computación en Red)</a>
            </li>

            <li>
              <a href="/tests/ECOM" class="is-size-3">ECOM (Electrónica de Comunicaciones)</a>
            </li>

	          <li>
              <a href="/tests/ENRG" class="is-size-3">ENRG (Sistemas de Energías)</a>
            </li>

	          <li>
              <a href="/tests/ORGE" class="is-size-3">ORGE (Organización de Empresas)</a>
            </li>

	          <li>
              <a href="/tests/SDG2" class="is-size-3">SDG2 (Sistemas Digitales 2)</a>
            </li>

            </ul>
          </div>
        </div>

    </div>
</div>
