<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<h2 class="subtitle is-4">Asignaturas de Cuarto</h2>
		</div>
	</div>

    <div class="columns">

        <div class="column is-two-thirds">
            <ul>

              <h2 class="subtitle is-4">Primer Cuatrimestre:</h2>

              <h2 class="subtitle is-5">Electr칩nica:</h2>

              <h2 class="subtitle is-5">Sistemas:</h2>

              <h2 class="subtitle is-5">Telem치tica:</h2>

              <h2 class="subtitle is-5">Imagen y Sonido:</h2>


              <h2 class="subtitle is-4">Segundo Cuatrimestre:</h2>

              <h2 class="subtitle is-5">Electr칩nica:</h2>

              <h2 class="subtitle is-5">Sistemas:</h2>

              <h2 class="subtitle is-5">Telem치tica:</h2>

              <h2 class="subtitle is-5">Imagen y Sonido:</h2>


            </ul>
        </div>

    </div>
</div>
