<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<p class="title is-1">Tests de Primero</p>
		</div>
	</div>

    <div class="columns">

        <div class="column is-half">
          <div class="box">

            <p class="title is-2">Primer Cuatrimestre</p>

            <ul>

            <li>
              <a href="/tests/ALGE" class="is-size-3">ALGE (Álgebra)</a>
            </li>

	          <li>
              <a href="/tests/CALC" class="is-size-3">CALC (Cálculo)</a>
            </li>

	          <li>
              <a href="/tests/FIS1" class="is-size-3">FIS1 (Física 1)</a>
            </li>

            <li>
              <a href="/tests/FTEL" class="is-size-3">FTEL (Fundamentos de los Sistemas Telemáticos)</a>
            </li>

	          <li>
              <a href="/tests/IACR" class="is-size-3">IACR (Introducción al análisis de circuitos)</a>
            </li>

	          <li>
              <a href="/tests/INIT" class="is-size-3">INIT (Introducción a la ingeniería de telecomunicación)</a>
            </li>

            </ul>

          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <p class="title is-2">Segundo Cuatrimestre</p>

            <ul>

            <li>
              <a href="/tests/AVEC" class="is-size-3">AVEC (Análisis Vectorial)</a>
            </li>

            <li>
              <a href="/tests/FGST" class="is-size-3">FGST (Fundamentos de Gestión Empresarial)</a>
            </li>

	          <li>
              <a href="/tests/FIS2" class="is-size-3">FIS2 (Física 2)</a>
            </li>

	          <li>
              <a href="/tests/INEL" class="is-size-3">INEL (Introducción a la electrónica)</a>
            </li>

	          <li>
              <a href="/tests/MMAT" class="is-size-3">MMAT (Métodos matemáticos)</a>
            </li>

	          <li>
              <a href="/tests/PRG" class="is-size-3">PRG (Programación)</a>
            </li>

            </ul>
          </div>
        </div>

    </div>
</div>
