<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<h2 class="subtitle is-4">Asignaturas de Primero</h2>
		</div>
	</div>

    <div class="columns">

        <div class="column is-two-thirds">
            <ul>

              <h2 class="subtitle is-4">Primer Cuatrimestre:</h2>

              <li>
                <a href="/tests/FTEL" class="subtitle is-5">FTEL (Fundamentos de los Sistemas Telemáticos)</a>
              </li>

              <li>
                <a href="/tests/ALGE" class="subtitle is-5">ALGE (Álgebra)</a>
              </li>

              <h2 class="subtitle is-4">Segundo Cuatrimestre:</h2>

              <li>
                <a href="/tests/AVEC" class="subtitle is-5">AVEC (Análisis Vectorial)</a>
              </li>

              <li>
                <a href="/tests/FGST" class="subtitle is-5">FGST (Fundamentos de Gestión Empresarial)</a>
              </li>

            </ul>
        </div>

    </div>
</div>
