<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<h2 class="subtitle is-4">Asignaturas de Segundo</h2>
		</div>
	</div>

    <div class="columns">

        <div class="column is-two-thirds">
            <ul>

              <h2 class="subtitle is-4">Primer Cuatrimestre:</h2>

              <li>
                <a href="/tests/ELMG" class="subtitle is-5">ELMG (Electromagnetismo)</a>
              </li>

              <li>
                <a href="/tests/EINB" class="subtitle is-5">EINB (Electrónica e Instrumentación Básicas)</a>
              </li>

              <h2 class="subtitle is-4">Segundo Cuatrimestre:</h2>

              <li>
                <a href="/tests/RSTC" class="subtitle is-5">RSTC (Redes y Servicios de Telecomunicación)</a>
              </li>

              <li>
                <a href="/tests/TECM" class="subtitle is-5">TECM (Teoría de la Comunicación)</a>
              </li>

            </ul>
        </div>

    </div>
</div>
