<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<p class="title is-1">Tests de Tercero</p>
		</div>
	</div>

    <div class="columns">

        <div class="column is-two-thirds">
            <ul>

              <h2 class="subtitle is-4">Primer Cuatrimestre:</h2>

              <li>
                <a href="/tests/RDOR" class="subtitle is-5">RDOR (Redes de Ordenadores)</a>
              </li>

              <li>
                <a href="/tests/RDPR" class="subtitle is-5">RDPR (Radiaci贸n y Propagaci贸n)</a>
              </li>

              <h2 class="subtitle is-4">Segundo Cuatrimestre:</h2>

              <li>
                <a href="/tests/STRA" class="subtitle is-5">STRA (Sistemas de Transmisi贸n)</a>
              </li>

              <li>
                <a href="/tests/CORE" class="subtitle is-5">CORE (Computaci贸n en Red)</a>
              </li>

            </ul>
        </div>

    </div>
</div>
