<div class="columns">
    <div class="column">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-2">
                        PRIMERO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a class="is-size-3" href="/tests/primero">Todos</a>
                </div>
            </div>
            <div class="columns">

                <div class="column is-half">
                  <div class="box">
        
                    <p class="title is-4">\(1^{\rm{er}}\) Cuatri</p>
        
                    <ul>
        
                    <li>
                      <a href="/tests/ALGE" class="is-size-3">ALGE</a>
                    </li>
        
                      <li>
                      <a href="/tests/CALC" class="is-size-3">CALC</a>
                    </li>
        
                      <li>
                      <a href="/tests/FIS1" class="is-size-3">FIS1</a>
                    </li>
        
                    <li>
                      <a href="/tests/FTEL" class="is-size-3">FTEL</a>
                    </li>
        
                      <li>
                      <a href="/tests/IACR" class="is-size-3">IACR</a>
                    </li>
        
                      <li>
                      <a href="/tests/INIT" class="is-size-3">INIT</a>
                    </li>
        
                    </ul>
        
                  </div>
                </div>
                <div class="column">
                  <div class="box">
                    <p class="title is-4">\(2^{\rm{o}}\) Cuatri</p>
        
                    <ul>
        
                    <li>
                      <a href="/tests/AVEC" class="is-size-3">AVEC</a>
                    </li>
        
                    <li>
                      <a href="/tests/FGST" class="is-size-3">FGST</a>
                    </li>
        
                      <li>
                      <a href="/tests/FIS2" class="is-size-3">FIS2</a>
                    </li>
        
                      <li>
                      <a href="/tests/INEL" class="is-size-3">INEL</a>
                    </li>
        
                      <li>
                      <a href="/tests/MMAT" class="is-size-3">MMAT</a>
                    </li>
        
                      <li>
                      <a href="/tests/PRG" class="is-size-3">PRG</a>
                    </li>
        
                    </ul>
                  </div>
                </div>
        
            </div>
        </div>
    </div>

    <div class="column">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-2">
                        SEGUNDO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a class="is-size-3" href="/tests/segundo">Todos</a>
                </div>
            </div>
            <div class="columns">

                <div class="column">
                  <div class="box">
        
                    <p class="title is-4">\(1^{\rm{er}}\) Cuatri</p>
        
                    <ul>
        
                    <li>
                      <a href="/tests/EDIG" class="is-size-3">EDIG</a>
                    </li>
        
                      <li>
                      <a href="/tests/EINB" class="is-size-3">EINB</a>
                    </li>
        
                      <li>
                      <a href="/tests/ELMG" class="is-size-3">ELMG</a>
                    </li>
        
                    <li>
                      <a href="/tests/IGL1" class="is-size-3">IGL1</a>
                    </li>
        
                      <li>
                      <a href="/tests/SALT" class="is-size-3">SALT</a>
                    </li>
        
                      <li>
                      <a href="/tests/SSIT" class="is-size-3">SSIT</a>
                    </li>
        
                    </ul>
        
                  </div>
                </div>
                <div class="column">
                  <div class="box">
                    <p class="title is-4">\(2^{\rm{o}}\) Cuatri</p>
        
                    <ul>

                    <li>
                        <a href="/tests/ADCT" class="is-size-3">ADCT</a>
                    </li>
        
                    <li>
                        <a href="/tests/ADSW" class="is-size-3">ADSW</a>
                    </li>
        
                    <li>
                        <a href="/tests/COTE" class="is-size-3">COTE</a>
                    </li>
        
                        <li>
                        <a href="/tests/ELAN" class="is-size-3">ELAN</a>
                    </li>
        
                        <li>
                        <a href="/tests/IGL2" class="is-size-3">IGL2</a>
                    </li>
        
                        <li>
                        <a href="/tests/RSTC" class="is-size-3">RSTC</a>
                    </li>
        
                    <li>
                        <a href="/tests/TECM" class="is-size-3">TECM</a>
                    </li>
        
                    </ul>
            
                  </div>
                </div>
        
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-2">
                        TERCERO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a class="is-size-3" href="/tests/tercero">Todos</a>
                </div>
            </div>
            <div class="columns">

                <div class="column is-half">
                  <div class="box">
        
                    <p class="title is-4">\(1^{\rm{er}}\) Cuatri</p>
        
                    <ul>
        
                    <li>
                      <a href="/tests/CELT" class="is-size-3">CELT</a>
                    </li>
        
                      <li>
                      <a href="/tests/RDOR" class="is-size-3">RDOR</a>
                    </li>
        
                      <li>
                      <a href="/tests/RDPR" class="is-size-3">RDPR</a>
                    </li>
        
                    <li>
                      <a href="/tests/SDG1" class="is-size-3">SDG1</a>
                    </li>
        
                      <li>
                      <a href="/tests/STRA" class="is-size-3">STRA</a>
                    </li>
        
                      <li>
                      <a href="/tests/TINF" class="is-size-3">SSIT</a>
                    </li>
        
                    <li>
                      <a href="/tests/TDSÑ" class="is-size-3">TDSÑ</a>
                    </li>
        
                    </ul>
        
                  </div>
                </div>
                <div class="column is-half">
                  <div class="box">
                    <p class="title is-4">\(2^{\rm{o}}\) Cuatri</p>
        
                    <ul>
        
                    <li>
                      <a href="/tests/COPT" class="is-size-3">COPT</a>
                    </li>
        
                    <li>
                      <a href="/tests/CORE" class="is-size-3">CORE</a>
                    </li>
        
                    <li>
                      <a href="/tests/ECOM" class="is-size-3">ECOM</a>
                    </li>
        
                      <li>
                      <a href="/tests/ENRG" class="is-size-3">ENRG</a>
                    </li>
        
                      <li>
                      <a href="/tests/ORGE" class="is-size-3">ORGE</a>
                    </li>
        
                      <li>
                      <a href="/tests/SDG2" class="is-size-3">SDG2</a>
                    </li>
        
                    </ul>
                  </div>
                </div>
        
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="box">
            <h1 class="title is-2">CUARTO</h1>

            <div class="columns">

                <div class="column">
                    <div class="box">
                        <div class="columns">
                            <div class="column">
                                <p class="title is-4">Sistemas de Telecomunicación</p>
                            </div>
                            <div class="column is-narrow">
                                <a class="is-size-5" href="/tests/sistemas">Todos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="columns">
                            <div class="column">
                                <p class="title is-4">Sistemas Electrónicos</p>
                            </div>
                            <div class="column is-narrow">
                                <a class="is-size-5" href="/tests/electronica">Todos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="box">
                        <div class="columns">
                            <div class="column">
                                <p class="title is-4">Sistemas Audiovisuales</p>
                            </div>
                            <div class="column is-narrow">
                                <a class="is-size-5" href="/tests/sonidoimagen">Todos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="columns">
                            <div class="column">
                                <p class="title is-4">Sistemas Telemáticos</p>
                            </div>
                            <div class="column is-narrow">
                                <a class="is-size-5" href="/tests/telematica">Todos</a>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>
    


