<div class="columns">
    <div class="column is-half">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-3">
                        PRIMERO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a href="/tests/primero">Todos</a>
                </div>
            </div>
            <ul>
                <li>
                <a href="/tests/FTEL" class="subtitle is-5">FTEL (Fundamentos de los Sistemas Telemáticos)</a>
                </li>

                <li>
                <a href="/tests/ALGE" class="subtitle is-5">ALGE (Álgebra)</a>
                </li>

                <li>
                <a href="/tests/AVEC" class="subtitle is-5">AVEC (Análisis Vectorial)</a>
                </li>

                <li>
                <a href="/tests/FGST" class="subtitle is-5">FGST (Fundamentos de Gestión Empresarial)</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="column is-half">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-3">
                        SEGUNDO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a href="/tests/segundo">Todos</a>
                </div>
            </div>
            <ul>
                <li>
                <a href="/tests/ELMG" class="subtitle is-5">ELMG (Electromagnetismo)</a>
                </li>

                <li>
                <a href="/tests/EINB" class="subtitle is-5">EINB (Electrónica e Instrumentación Básicas)</a>
                </li>

                <li>
                <a href="/tests/RSTC" class="subtitle is-5">RSTC (Redes y Servicios de Telecomunicación)</a>
                </li>

                <li>
                <a href="/tests/TECM" class="subtitle is-5">TECM (Teoría de la Comunicación)</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-half">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-3">
                        TERCERO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a href="/tests/tercero">Todos</a>
                </div>
            </div>
            <ul>
                <li>
                <a href="/tests/RDOR" class="subtitle is-5">RDOR (Redes de Ordenadores)</a>
                </li>

                <li>
                <a href="/tests/RDPR" class="subtitle is-5">RDPR (Radiación y Propagación)</a>
                </li>

                <li>
                <a href="/tests/STRA" class="subtitle is-5">STRA (Sistemas de Transmisión)</a>
                </li>

                <li>
                <a href="/tests/CORE" class="subtitle is-5">CORE (Computación en Red)</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="column is-half">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-3">
                        CUARTO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a href="/tests/cuarto">Todos</a>
                </div>
            </div>
            <ul>
                <li>
                    <a href="/tests/CORE" class="subtitle is-4">Sistemas de Telecomunicación</a>
                </li>
                <li>
                    <a href="/tests/CORE" class="subtitle is-4">Sistemas Electrónicos</a>
                </li>
                <li>
                    <a href="/tests/CORE" class="subtitle is-4">Sonido e Imagen</a>
                </li>
                <li>
                    <a href="/tests/CORE" class="subtitle is-4">Telemática</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    


