<div class="columns">
    <div class="column is-half">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-2">
                        PRIMERO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a class="is-size-3" href="/tests/primero">Todos</a>
                </div>
            </div>
            <div class="columns">

                <div class="column is-half">
                  <div class="box">
        
                    <p class="title is-4">Primer Cuatrimestre</p>
        
                    <ul>
        
                    <li>
                      <a href="/tests/ALGE" class="is-size-3">ALGE</a>
                    </li>
        
                      <li>
                      <a href="/tests/CALC" class="is-size-3">CALC</a>
                    </li>
        
                      <li>
                      <a href="/tests/FIS1" class="is-size-3">FIS1</a>
                    </li>
        
                    <li>
                      <a href="/tests/FTEL" class="is-size-3">FTEL</a>
                    </li>
        
                      <li>
                      <a href="/tests/IACR" class="is-size-3">IACR</a>
                    </li>
        
                      <li>
                      <a href="/tests/INIT" class="is-size-3">INIT</a>
                    </li>
        
                    </ul>
        
                  </div>
                </div>
                <div class="column">
                  <div class="box">
                    <p class="title is-4">Segundo Cuatrimestre</p>
        
                    <ul>
        
                    <li>
                      <a href="/tests/AVEC" class="is-size-3">AVEC</a>
                    </li>
        
                    <li>
                      <a href="/tests/FGST" class="is-size-3">FGST</a>
                    </li>
        
                      <li>
                      <a href="/tests/FIS2" class="is-size-3">FIS2</a>
                    </li>
        
                      <li>
                      <a href="/tests/INEL" class="is-size-3">INEL</a>
                    </li>
        
                      <li>
                      <a href="/tests/MMAT" class="is-size-3">MMAT</a>
                    </li>
        
                      <li>
                      <a href="/tests/PRG" class="is-size-3">PRG</a>
                    </li>
        
                    </ul>
                  </div>
                </div>
        
            </div>
        </div>
    </div>

    <div class="column">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-3">
                        SEGUNDO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a class="is-size-3" href="/tests/segundo">Todos</a>
                </div>
            </div>
            <ul>
                <li>
                <a href="/tests/ELMG" class="subtitle is-5">ELMG (Electromagnetismo)</a>
                </li>

                <li>
                <a href="/tests/EINB" class="subtitle is-5">EINB (Electrónica e Instrumentación Básicas)</a>
                </li>

                <li>
                <a href="/tests/RSTC" class="subtitle is-5">RSTC (Redes y Servicios de Telecomunicación)</a>
                </li>

                <li>
                <a href="/tests/TECM" class="subtitle is-5">TECM (Teoría de la Comunicación)</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-half">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-3">
                        TERCERO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a class="is-size-3" href="/tests/tercero">Todos</a>
                </div>
            </div>
            <ul>
                <li>
                <a href="/tests/RDOR" class="subtitle is-5">RDOR (Redes de Ordenadores)</a>
                </li>

                <li>
                <a href="/tests/RDPR" class="subtitle is-5">RDPR (Radiación y Propagación)</a>
                </li>

                <li>
                <a href="/tests/STRA" class="subtitle is-5">STRA (Sistemas de Transmisión)</a>
                </li>

                <li>
                <a href="/tests/CORE" class="subtitle is-5">CORE (Computación en Red)</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="column is-half">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-3">
                        CUARTO
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a class="is-size-3" href="/tests/cuarto">Todos</a>
                </div>
            </div>
            <ul>
                <li>
                    <a href="/tests/CORE" class="subtitle is-4">Sistemas de Telecomunicación</a>
                </li>
                <li>
                    <a href="/tests/CORE" class="subtitle is-4">Sistemas Electrónicos</a>
                </li>
                <li>
                    <a href="/tests/CORE" class="subtitle is-4">Sonido e Imagen</a>
                </li>
                <li>
                    <a href="/tests/CORE" class="subtitle is-4">Telemática</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    


