<h2 class="subtitle is-4">We missed u!</h2>
<form method="get" action="/check">
    <ul>
        <span class="tag is-dark is-medium">Username:</span>
        <input type="text" class="input" name="username" autocomplete="off">

        <span class="tag is-dark is-medium">Password:</span>
        <input type="password" class="input" name="password" autocomplete="off">

        <input type="submit" class="button" value="Log In">
    </ul>
</form>