
	

	<div class="columns">
		<div class="column">
			<p class="title is-1">Desarrolladores</p>
			<div class="box">
				<div class="columns">
					<div class="column">
						<h1 class="title is-4">
							Alejandro Jarabo Peñas
						</h1>
					</div>
					<div class="column is-narrow">
						<a href="https://www.linkedin.com/in/alejandro-jarabo-pe%C3%B1as-aa990a166/" target="_blank">LinkedIn</a>
					</div>
				</div>
				<h1 class="subtitle is-6">Graduado en Ingeniería de Telecomunicaciones en la ETSIT UPM</h1>
			</div>
		</div>
		<div class="column">
			<p class="title is-1">Editores</p>
			<div class="box">
				<div class="columns">
					<div class="column">
						<h1 class="title is-4">
							Rocío Álvarez-Cedrón
						</h1>
					</div>
					<div class="column is-narrow">
						<a href="https://www.linkedin.com/in/roc%C3%ADo-%C3%A1lvarez-cedr%C3%B3n-133ba1145/" target="_blank">LinkedIn</a>
					</div>
				</div>
				<h1 class="subtitle is-6">Graduada en Ingeniería de Telecomunicaciones en la ETSIT UPM</h1>
			</div>
		</div>

	</div>

	