
<div class="content">

<p class="title is-1">GITST Tests</p>

<div class="box">
    <div class="columns">
        <div class="column">
            <a class="is-size-3" href="/subjects/GITST/1">PRIMERO</a>
        </div>
    </div>
</div>

<div class="box">
    <div class="columns">
        <div class="column">
            <a class="is-size-3" href="/subjects/GITST/2">SEGUNDO</a>
        </div>
    </div>
</div>

<div class="box">
    <div class="columns">
        <div class="column">
            <a class="is-size-3" href="/subjects/GITST/3">TERCERO</a>
        </div>
    </div>  
</div>

<div class="columns">
    <div class="column">
        <div class="box">
            <p class="subtitle is-3">CUARTO</p>

            <div class="columns">

                <div class="column">
                    <div class="box">
                        <div class="columns">
                            <div class="column">
                                <a class="is-size-4" href="/subjects/GITST/4/sist">Sistemas de Telecomunicación</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="columns">
                            <div class="column">
                                <a class="is-size-4" href="/subjects/GITST/4/elect">Sistemas Electrónicos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="box">
                        <div class="columns">
                            <div class="column">
                                <a class="is-size-4" href="/subjects/GITST/4/telem">Sistemas Telemáticos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="columns">
                            <div class="column">
                                <a class="is-size-4" href="/subjects/GITST/4/auvis">Sistemas Audiovisuales</a>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>

</div>


