<div class="content">
  <h2 class="subtitle is-6">Edit Tip</h2>

  <form method="POST" action="/quizzes/<%= quiz.id %>/tips/<%= tip.id %>?_method=PUT">

        <span class="tag is-dark is-medium">Tip Text:</span>
        <input type="text" value="<%=tip.text%>" class="input is-primary" name="text" autocomplete="off">
        <input type="submit" class="button is-warning" value="Edit Tip">    
  </form>
</div>