<div class="content">
  <form method="POST" action="/quizzes/<%= quiz.id %>/tips/">

        <span class="tag is-dark is-small">Tip Text:</span>
        <input type="text" value="" class="input is-warning is-small" name="text" autocomplete="off">
        <input type="submit" class="button is-success is-small" value="Add">    
  </form>
</div>