<div class="content">

    <div class="columns"></div>
        
        <div class="column">
            <div class="box">
                <span class="tag is-success is-large">Creations</span>
                <canvas id="myChart1" widht="120vh" height="120vh"></canvas>
            </div>
        </div>

        <div class="column">
            <div class="box">
                <span class="tag is-success is-large">Play</span>
                <canvas id="myChart2" widht="120vh" height="120vh"></canvas>
            </div>
        </div>

    </div>
    

    <script>
    var ctx = document.getElementById('myChart1').getContext('2d');

    var myChart1 = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Quizzes', 'Tips'],
            datasets: [{
                label: '# of Elements',
                data: [<%=user.quizzes.length%>,<%=user.tips.length%>],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    });

    var ctx = document.getElementById('myChart2').getContext('2d');

    var myChart2 = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Points', 'Fails'],
            datasets: [{
                label: '# of Elements',
                data: [<%=user.points%>,<%=user.fails%>],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 99, 132, 0.8)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    });
    </script>
</div>