<form method="post" action="/users/<%= user.id %>?_method=PUT">
    <div class="columns">
        <div class="column">
            <p class="title is-1">Editar usuario</p>
        </div>
        <div class="column is-narrow">
            <span class="tag is-info is-medium">ADMIN</span>
            <div class="select">
                <select>
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
        <div class="column is-narrow">
            <span class="tag is-warning is-medium">EDITOR</span>
            <div class="select">
                <select>
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
        <div class="column is-narrow">
            <input type="submit" class="button is-warning is-large" value="Editar usuario">
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <span class="tag is-dark is-medium">Usuario:</span>
            <input type="text" class="input" name="username" autocomplete="off">
        </div>
        <div class="column">
            <span class="tag is-dark is-medium">Contraseña:</span>
            <input type="password" class="input" name="password" autocomplete="off">
        </div>
        <div class="column">
            <span class="tag is-dark is-medium">Repetir Contraseña:</span>
            <input type="password" class="input" name="password2" autocomplete="off">
        </div>
    </div>

    <div class="columns">
        
    </div>
</form>
